.about-section{

  .about-section__nav{
    margin-top: 32px;
  }

  .about-section__title{
    margin-top: 16px;
  }

  .about-section__content{
    margin-top: 8px;
  }

  .expand-block{
    overflow: hidden;
  }
}
