.content{

  @media(min-width:$m-size){
    display:flex;
    padding:16px;
  }

  .content__text{

    padding: 0 24px;
    position: relative;

    @media(min-width: $m-size){
      width:50%;
    }
  }

  .content__img-block{
    margin-top:24px;

    @media(min-width: $m-size){
      margin-top:0;
      width:50%;
    }
  }
}
