.footer{
  list-style: none;
  color: $light-text-color;
}

@media(min-width: $m-size){
  .footer{
    display: flex;
    padding:0 16px;
  }
}

.footer__item{
  text-align: center;
  padding:8px 16px;
}

@media(min-width: $m-size){
  .footer__item{
    flex-basis: 33%;
    font-size: 14px;
    padding: 16px 0;
  }

  .footer__item:nth-child(1){
    text-align: left;
  }

  .footer__item:nth-child(3){
    text-align: right;
  }
}

.footer__link{
  color: $light-text-color;
}
