.modal{
  width:320px;
  min-height:100vh;
  position:fixed;
  right:0;
  top:0;
  z-index:5;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  transform: translateX(150%);
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  transition: .5s;

  &--opened{
    box-shadow: 16px 0 52px rgba(14, 24, 80, 0.2);
    transform: translateX(0);
  }

  .modal__header{
    position: relative;
  }

  .modal__close-button{
    margin:24px 16px;
    display: block;
  }

  @media(min-width: $l-size){
    .modal__close-button{
      position: absolute;
      left: -86px;
      top: -12px;
    }
  }

  .modal__title{
    font-size: 24px;
    overflow: hidden;
    margin-top: 16px;
  }
}
