.title{
  padding-left:32px;
  position: relative;
  font-family: 'TT Lakes Bold', 'Arial', sans-serif;
  font-size: 28px;
  display: inline-block;
}

.title:before{
  content:"";
  display: block;
  position:absolute;
  height:calc(100% + 10px);
  width:8px;
  border-radius: 10px;
  background-color: $text-decorate-color;
  left:-4px;
  top:-5px;
}
