@import "./slider";

$pinkColor: #FF3E79;
$bodyColor: #F8F8F8;
$greenBorder: #D9FFF5;
$lightGray: #EAEAEA;
$titleDecoration: #41F6D7;

.main{
  width: 100%;
  overflow: hidden;

  .header{
    display: flex;
    background-color: #fff;
    padding:16px;
    align-items:center;
    border-bottom:1px solid $greenBorder;

    @media(min-width: 1120px){
      position:absolute;
      background-color: transparent;
      right:0;
      top:0;
      border:none;
    }
  }

  .button--menu{
    background-image: url(../img/icons/menu_icon.svg);
  }

  @media(min-width: 1120px){
    .header__menu-button{
      display: none;
    }
  }

  .header__logo{
    margin:0 auto 0 16px;

    @media(min-width: 1120px){
      display:none;
    }
  }

  .buttons-list{
    display: flex;
    list-style: none;
    padding:0;
    position:relative;
  }

  .buttons-list--contacts{
    display: none;

    @media(min-width: 768px){
      display:flex;
      padding-right: 16px;
    }

    @media(min-width: 1120px){
      display:none;
    }
  }

  .buttons-list--service:before{
    content: "";
    display: block;
    position: absolute;
    left:0;
    top:50%;
    margin-top:-16px;
    width: 2px;
    height:32px;
    background-color: $lightGray;
  }

  @media(min-width: 1120px){
    .buttons-list--service:before{
      display:none;
    }
  }

  .button--phone{
    background-image: url(../img/icons/phone_icon.svg);
  }

  .button--message{
    background-image: url(../img/icons/message_icon.svg);
  }

  .button--profile{
    background-image: url(../img/icons/profile_icon.svg);
  }

  .buttons-list__button{
    margin-left:16px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .buttons-list__link{
    display: flex;
    align-items: center;
    color: #000;
    text-decoration: none;
    position:relative;
  }

  .buttons-list__link:after{
    content:"";
    display: block;
    width: 40px;
    height:40px;
    border-radius: 50%;
    background-color: $pinkColor;
    background-position: center;
    background-repeat: no-repeat;
  }

  .buttons-list__link--callback:after{
    background-image: url(../img/icons/callback_icon.svg);
  }

  .buttons-list__link--status:after{
    background-image: url(../img/icons/service_status_icon.svg);
  }

  .buttons-list__button-text{
    display: none;
    margin-right: 8px;
    font-family: 'TT Lakes Medium', sans-serif;
  }

  @media(min-width: 1120px){
    .buttons-list__button-text{
      display: block;
    }
  }

  .about-section__nav{
    margin-top: 32px;
  }

  .nav__list{
    display:flex;
    width:100%;
    overflow-x: scroll;
    scrollbar-width: none;
    padding:0;
    list-style: none;
  }

  @media(min-width: 1120px){
    .nav__list{
      overflow-x: auto;
      flex-wrap: wrap;
    }
  }

  .nav__item{
    white-space: nowrap;
    margin-left: 16px;
  }

  .nav__link--active{
    background-color: #fff;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
  }

  .nav__link{
    color: #7E7E82;
    text-decoration: none;
    display: block;
    padding:12px 16px;
  }

  .main__about-section{
    margin-top:8px;
  }

  .about-section__title{
    margin-top: 16px;
  }

  .about-section__content{
    margin-top: 8px;
  }

  @media(min-width: 768px){
    .content{
      display:flex;
      padding:16px;
    }

    .content__text{
      width:50%;
    }

    .content__img-block{
      width:50%;
    }
  }

  .content__text{
    padding: 0 24px;
    position: relative;
  }

  .expand-block{
    display: block;
    height: 85px;
    overflow: hidden;
  }

  .expand-block--expanded{
    height:auto;
  }



  .text__paragraph:not(:first-of-type){
    margin-top: 16px;
  }

  .content__img-block{
    margin-top:24px;
  }

  .expand-button--visible{
    display:block;
  }

  @media(min-width: 768px){
    .content__img-block{
      margin-top:0;
    }
  }

  .img-block__img{
    width:100%;
    height:auto;
  }
}

.section__header{
  padding:16px 16px;
  background: linear-gradient(to right, #F8F8F8 0%, #FFFFFF 100%);
  border-top: 1px solid #D9FFF5;
}

@media(min-width: 768px){
  .section__header {
    padding: 16px 30px;
  }
}

.section__title{
  text-transform: uppercase;
  color: #7E7E82;
  margin:0;
}

.section__content{
  padding:0 16px;
}

@media(min-width: 768px){
  .section__content{
    padding: 0 30px;
  }
}
