.modal{
  width:100%;
  background-color: rgba(255,255,255,.95);
  position: fixed;
  top: 0;
  right:-100%;
  display: flex;
  justify-content: flex-end;
  z-index:2;
  transition: .5s;

  &.modal--opened{
    transform: translateX(-100%);
  }

  .modal__content{
    width:100%;
    min-height:100vh;
    background-color: #fff;
    height:100%;

    @media(min-width: 1120px){
      width: 440px;
      box-shadow: 16px 0 52px rgba(14, 24, 80, 0.2);
    }
  }

  .modal__header{
    position: relative;
  }

  .modal__close-button{
    margin:24px 16px;
  }

  @media(min-width: 1120px){
    .modal__close-button{
      position: absolute;
      left: -86px;
      top: -12px;
    }
  }

  .button--close{
    background-image: url(../img/icons/close_icon.svg);
    display: block;
  }

  .modal__title{
    font-size: 24px;
    overflow: hidden;
    margin-top: 16px;
  }

  .form{
    padding: 24px;
  }

  .form__field{
    width:100%;
    margin:8px auto;
    padding:8px;
    border-radius: 8px;
    border:1px solid #EAEAEA;
    font-size: 16px;
    resize: none;
    min-height: 48px;
  }

  .form__agreement{
    margin-top: 8px;
  }

  .agreement{
    font-size: 14px;
  }

  .agreement__link{
    color: #FF3E79;
    text-decoration: none;
  }

  .form__button{
    margin-top: 24px;
    margin-left: auto;
    margin-right: 0;
  }

  .button--submit{
    width:auto;
    height:auto;
    border-radius: 16px;
    color: #ffffff;
    font-size: 12px;
    font-family: 'TT Lakes Bold', sans-serif;
    text-transform: uppercase;
    padding: 8px 30px 8px 8px;
    position: relative;
  }

  .button--submit:after{
    content:"";
    display: block;
    width: 12px;
    height: 12px;
    position: absolute;
    right:10px;
    top: 50%;
    background-image: url(../img/icons/arrow_icon_white.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: -6px;
  }
}
