@import "./menu";
@import "./content";
@import "./modal";
@import "./footer";

$titleDecoration: #41F6D7;
$grey: #7E7E82;
$pinkColor: #FF3E79;

@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes-Regular.eot');
  src: url('../fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTLakes-Regular.woff') format('woff'),
  url('../fonts/TTLakes-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'TT Lakes Medium';
  src: url('../fonts/TTLakes-Medium.eot');
  src: url('../fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTLakes-Medium.woff') format('woff'),
  url('../fonts/TTLakes-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'TT Lakes Bold';
  src: url('../fonts/TTLakes-Bold.eot');
  src: url('../fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTLakes-Bold.woff') format('woff'),
  url('../fonts/TTLakes-Bold.ttf') format('truetype');
}

*{
  padding:0;
  margin:0;
  font-family: 'TT Lakes', sans-serif;
  box-sizing: border-box;
}

body{
  background-color: #F8F8F8;
}

.body--limited{
  height:100vh;
  overflow: hidden;
}

.wrapper{
  display: flex;
}

.title{
  padding-left:32px;
  position: relative;
  font-family: 'TT Lakes Bold', 'Arial', sans-serif;
  font-size: 28px;
  display: inline-block;
}

.title:before{
  content:"";
  display: block;
  position:absolute;
  height:calc(100% + 10px);
  width:8px;
  border-radius: 10px;
  background-color: $titleDecoration;
  left:-4px;
  top:-5px;
}

.button{
  cursor:pointer;
  background-color: $pinkColor;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border:none;
  background-position: center center;
  background-repeat: no-repeat;
}

.button--circle{
  width:40px;
  height:40px;
}

.button:hover{
  transform: scale(1.1);
  background-color: $titleDecoration;
}
