@import "./fonts";
@import "./variables";

/*Стили для блоков*/
@import "blocks/menu";



@import "./content";
@import "./modal";
@import "./footer";

@import "/blocks/ui-button";
@import "/blocks/action-button";

@import "./blocks/overlay";

$titleDecoration: #41F6D7;
$grey: #7E7E82;
$pinkColor: #FF3E79;

*{
  padding:0;
  margin:0;
  font-family: 'TT Lakes', sans-serif;
  box-sizing: border-box;
}

body{
  background-color: #F8F8F8;
}

.wrapper{
  display: flex;
}

.title{
  padding-left:32px;
  position: relative;
  font-family: 'TT Lakes Bold', 'Arial', sans-serif;
  font-size: 28px;
  display: inline-block;
}

.title:before{
  content:"";
  display: block;
  position:absolute;
  height:calc(100% + 10px);
  width:8px;
  border-radius: 10px;
  background-color: $titleDecoration;
  left:-4px;
  top:-5px;
}
