@import "./fonts";
@import "./variables";

/*Стили для блоков*/
@import "blocks/menu";
@import "blocks/overlay";
@import "blocks/buttons-list";
@import "blocks/contact-list";
@import "blocks/lang-list";
@import 'blocks/expand-button';
@import "blocks/main";
@import "blocks/nav";
@import "blocks/section";
@import "blocks/slider";
@import "blocks/expand-block";
@import "blocks/slider-item";
@import "blocks/slider-pagination";
@import "blocks/about-section";
@import "blocks/content";
@import "blocks/text";
@import "blocks/img-block";
@import "blocks/brands-section";
@import "blocks/types-section";
@import "blocks/price-section";
@import "blocks/modal";
@import "blocks/form";
@import "blocks/agreement";
@import "blocks/footer";
@import "blocks/ui-button";
@import "blocks/action-button";
@import "blocks/title";

*{
  padding:0;
  margin:0;
  font-family: 'TT Lakes', sans-serif;
  box-sizing: border-box;
}

body{
  background-color: $body-color;
  min-width: 320px;
}

.wrapper{
  display: flex;
}
