/* папка для картинок */
$imgFolder: '../img/' !default;

/* цвета */
$body-color: #F8F8F8;

$dark-text-color: #000000;
$light-text-color: #7E7E82;
$accent-text-color: #FF3E79;

$main-button-color: #FF3E79;
$hover-button-color: #41F6D7;

$default-border-color: #EAEAEA;
$border-color: #41F6D7;
$accent-border-color: #FF3E79;

$text-decorate-color: #41F6D7;

$pagination-bullet-active-color:#B5B6BC;
$pagination-bullet-color: #979797;

$hr-elements-color: #EAEAEA;

$input-border-color: #EAEAEA;

$title-color-first: #F8F8F8;
$title-color-second: #FFFFFF;

/* переменные для медиа-запросов */
$m-size: 768px;
$l-size: 1120px;
